* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  border-radius: 20px;
  border: 3px solid;
  text-decoration: none;
  width: 100px;
  padding: 10px;

}

a:hover {
  color: orange;
}

body {
  background-color: #138086;
  font-family: "Poppins", sans-serif;
  color: white;
}

h1 {
  color: orange;
}

.meet-me {
  color: #062628;
  font-size: 40px;
}

#about {
  display: flex;
  /* text-align: justify; */
  justify-content: space-between;
  padding: 10% 5%;
  margin: 20px 5% 60px 5%;
  background-color: #062628;
  border-radius: 20px;
  gap: 150px;
}

#about-text {
  /* width: 70%; */
}

#about-image {
  /* width: 30%; */
  border-bottom: 10%;
  text-align: center;
}

img {
  border: 2px solid orange;
  border-radius: 100%;
  margin-top: 20px;
  width: 25vw;
}

.about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px 5%;
  padding: 5%;
  background-color: rgba(255, 166, 0, 256);
  border-radius: 40px;
  gap: 5%;

}

.about {
  color: black;
  text-align: justify;
  justify-content: center;

}

.me {

  padding-left: 5%;
  font-size: 8px;

}

h3 {
  font-size: 20px;
}

.dev {
  color: #138086;
}

.skills {
  color: white;
  text-align: center;
  font-size: 45px;
}

.parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 5px 5% 80px;


}


.branch-one {
  /* flex: 1; */
  color: #062628;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 20px;
  height: 350px;
  width: 280px;
 
}




.data-one {
  flex: 1;
  color: #062628;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 40px;
  height: 350px;
  width: 700px;
  
}



.front {
  color: orange;
  font-size: 30px;
  margin-bottom: 10px;
}

.back {
  color: orange;
  font-size: 30px;
}

.data {
  color: orange;
  font-size: 30px;

}

.version {
  color: orange;
  font-size: 30px;
}



.connect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  background-color: white;
  border-radius: 40px;
  margin: 20px 40px 90px;
  /* margin-right: 260px;
  margin-left: 260px;
  margin-top: 70px; */
  gap: 100px;
  /* border: 1000px; */
  /* height: 450px;  */
  text-align: justify;
  color: #062628;

}

.contact {
  color: #062628;
  font-size: 45px;
  text-align: left;

}

.call-one {
  color: orange;
  font-size: 20px;
}

.call-one:hover {
  color: #062628;
}

.call {
  color: #062628;
  font-size: 20px;
  text-align: justify;

}

.detail {
  font-size: 40px;
  color: #062628;
}

.location {
  font-size: 35px;
}